.container
{
    border: 1px;
}
#text
{
    text-align: center;
    padding: 40px 40px;
    margin-top: 60px;
    color:crimson;
    font-size: 64px;
}

#msg
{
    text-align: center;
    color:crimson;
    font-size: 64px;

}